// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gradient-custom {
  background: palevioletred;
  background: -webkit-linear-gradient(to right, rgb(243, 173, 196),rgb(235, 93, 140));
  background: linear-gradient(to right, rgb(245, 199, 214), rgb(243, 117, 159));
  }
