<br>
  <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Category Name</div>
        <div class="col col-2">Delete</div>
      </li>
      <% @categories.each do |category| %>
          <li class="table-row">
            <div class="col col-1" data-label="Category Name"><%= category.name %> </div>
            <div class="col col-2" data-label="Delete"  ><%= button_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' },class:"add-to-cart-button" %></div>
          </li>
      <% end %>
  </ul>
  <br>


 <div class="read_bt" style="margin-bottom: 20px;">
      <a class="add-to-cart-button" href="<%=new_category_path %>">New Category</a>
  <div>
    <br>
    <br>

